html
head
    title GLVN Registration Receipt

body
    h3 Trường GL & VN Thánh Giuse Nguyễn Duy Khang

    p Phone: #{schoolPhone}
    p Email: #{schoolEmail}
    p Website: #{schoolWebsite}
    h2 Registration Receipt for School Year #{schoolYear}
    p Date: #{regDate}
    p Student ID: #{username}
    p Student Name: #{firstName} #{lastName}
    p Registered Classes: #{glClass}, #{vnClass}
    p Registration Fee: $ #{regFee}.00
    p Approver: #{reviewedBy}
    p Received From: #{regReceivedFrom}
    p Check #: #{regReceipt}

